# <font color=black>ASSIGNMENT 1</font>

## <font color=blue>BUSINESS UNDERSTANDING (10 POINTS)</font>

**Describe the purpose of the data set you selected:**

We used the "adult" dataset from the UCI Machine Learning Repository (https://archive.ics.uci.edu/ml/datasets/Adult).  The dataset contains 1994 Census data.  It has 48,842 records and 14 attributes. Each record represents demographic information about an individual. 

The purpose of the data set was to determine which demographic attribute had the most impact on whether or not a person's income is less than or equal to 50,000 dollars or greater than 50,000 dollars.  

A good prediction algorithm would establish a relationship or correlation between a specific attribute or group of attributes with the probability of income being <=50,000 dollars or >50,000 dollars.

## <font color=blue>DATA MEANING TYPE (10 POINTS)</font>

**Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file:**

We will take the following steps to accomplish this task:

- Read in dataset and add attribute names.  This dataset does not have attribute names in the file, but UCI lists the names on the site.  
- List the attributes and the corresponding value type.
- List basic statistics to see the min and max for any integer attributes.
- List the categories for the categorical attributes.
- Provide list of attributes with meaning, data type and values/scale.

In [15]:
#Read in dataset and add attribute names and check.
import pandas as pd
col_names = ['age', 'employ_type', 'pop_num', 'edu_level', 'edu_years', 'marital', 'occ', 'relation', 'race', 'gender', 'cap_gain', 'cap_loss', 'hours_week', 'country_orig', 'income']
df = pd.read_csv('adult.csv', names=col_names, header=None)
df.head(2)

,age,employ_type,pop_num,edu_level,edu_years,marital,occ,relation,race,gender,cap_gain,cap_loss,hours_week,country_orig,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [16]:
#List the attributes and the corresponding value type.
print df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age             32561 non-null int64
employ_type     32561 non-null object
pop_num         32561 non-null int64
edu_level       32561 non-null object
edu_years       32561 non-null int64
marital         32561 non-null object
occ             32561 non-null object
relation        32561 non-null object
race            32561 non-null object
gender          32561 non-null object
cap_gain        32561 non-null int64
cap_loss        32561 non-null int64
hours_week      32561 non-null int64
country_orig    32561 non-null object
income          32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [17]:
#List basic statistics to see the min and max for any integer attributes.
print df.describe()

                age       pop_num     edu_years      cap_gain      cap_loss  \
count  32561.000000  3.256100e+04  32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05     10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05      2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04      1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05      9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05     10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05     12.000000      0.000000      0.000000
max       90.000000  1.484705e+06     16.000000  99999.000000   4356.000000

         hours_week
count  32561.000000
mean      40.437456
std       12.347429
min        1.000000
25%       40.000000
50%       40.000000
75%       45.000000
max       99.000000

In [18]:
#List the categories for the categorical attributes.
print df['employ_type'].value_counts()
print df['edu_level'].value_counts()
print df['marital'].value_counts()
print df['occ'].value_counts()
print df['relation'].value_counts()
print df['race'].value_counts()
print df['gender'].value_counts()
print df['country_orig'].value_counts()
print df['income'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: employ_type, dtype: int64
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: edu_level, dtype: int64
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital, dtype: int64
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occ, dtype: int64
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relation, dtype: int64
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
 Male      21790
 Female    10771
Name: gender, dtype: int64
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: country_orig, dtype: int64
 <=50K    24720
 >50K      7841
Name: income, dtype: int64

**List of attributes with data type and values/scale.**


| Attribute    | Data Type | Description                                                          | Values/Scale                                                                                                                                                                                                                                                                                                                                                                                                                             |   |
|--------------|-----------|----------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:-:|
| age          | integer   | Age                                                                  | 17 - 90                                                                                                                                                                                                                                                                                                                                                                                                                                  |   |
| employ_type  | nominal   | Type of employment                                                   | Private, Self­-emp­-not-­inc, Self-­emp-­inc, Federal­-gov, Local­-gov, State-­gov, Without-pay, Never-worked                                                                                                                                                                                                                                                                                                                            |   |
| pop_num      | integer   | # of people the Census believes the entry represents                 | 12,285 - 1,484,705                                                                                                                                                                                                                                                                                                                                                                                                                       |   |
| edu_level    | nominal   | Education level                                                      | Preschool, 1st-4th, 5th-6th, 7th-8th, 9th, 10th, 11th, 12th, HS-grad, Prof-school, Some­-college, Assoc­-acdm, Assoc­-voc, Bachelors, Masters, Doctorate                                                                                                                                                                                                                                                                                 |   |
| edu_years    | integer   | Years of education                                                   | 1 - 16                                                                                                                                                                                                                                                                                                                                                                                                                                   |   |
| marital      | nominal   | Marital status                                                       | Married­-civ-­spouse (civilian spouse), Divorced, Never­-married, Separated, Widowed, Married­-spouse-­absent, Married­-AF­-spouse (married with spouse in Armed Forces)                                                                                                                                                                                                                                                                 |   |
| occ          | nominal   | Occupation                                                           | Tech-­support, Craft­-repair, Other-­service, Sales, Exec­-managerial, Prof­-specialty, Handlers-­cleaners, Machine­-op-­inspct, Adm­-clerical, Farming-fishing, Transport-­moving, Priv­-house-­serv, Protective­-serv, Armed­-Forces.                                                                                                                                                                                                  |   |
| relation     | nominal   | Represents what this individual is relative to others. e.g., husband | Husband, Not-in-family, Own-child, Unmarried, Wife, Other-relative                                                                                                                                                                                                                                                                                                                                                                       |   |
| race         | nominal   | Race                                                                 | White, Black, Asian_Pac_Islander, Amer-Indian-Eskimo, Other                                                                                                                                                                                                                                                                                                                                                                              |   |
| gender       | nominal   | Gender                                                               | Male, Female                                                                                                                                                                                                                                                                                                                                                                                                                             |   |
| cap_gain     | integer   | Capital gains (dollars)                                                        | 0 - 99,999                                                                                                                                                                                                                                                                                                                                                                                                                             |   |
| cap_loss     | integer   | Capital loss (dollars)                                                        | 0 - 4,356                                                                                                                                                                                                                                                                                                                                                                                                                              |   |
| hours_week   | integer   | Hours worked per week                                                | 1 - 99                                                                                                                                                                                                                                                                                                                                                                                                                                   |   |
| country_orig | nominal   | Native country                                                       | United­-States, Cambodia, England, Puerto-­Rico, Canada, Germany, Outlying­-US(Guam­-US-VI-­etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican­-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El­-Salvador, Trinadad&Tobago, Peru, Hong, Holand­-Netherlands. |   |
| income       | nominal   | Income level (dollars)                                                         | <=50K, >50K                                                                                                                                                                                                                                                                                                                                                                                                                            |   |

## <font color=blue>DATA QUALITY (15 POINTS)</font>

**Verify data quality: Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these 
problems? Give justifications for your methods.**

From the analysis conducted above, the following attributes have missing data points:

- employ_type (Type of employment) - 1,836 missing data points (5.6% of records)
- occ (Occupation) - 1,843 missing data points (5.7% or records)
- country_orig (Native country) - 583 missing data points (1.8% of records)

We are not intimately familiar with the data set and are unable to determine if the missing data points are Missing at Random (MAR), Missing Completely at Random (MCAR) or Missing Not at Random (MNAR).  For this reason, we feel that it would be risky to remove the missing records associated with the data points.  Additionally, we would like have as much data as possible.  Therefore, we chose to create new "Other" categories for these data points.

In [22]:
import numpy as np
#The missing values are all "?".  need code to replace the "?" values with "other_cat"
#Code to check for duplicate records? 
import matplotlib.pyplot as plt
#boxplots of integer attributes to identify outliers, then decide what to do with them

In [4]:
#SIMPLE STATISTICS (10 POINTS)
#Visualize appropriate statistics (e.g., range, mode, mean, median, variance, counts) for a subset of attributes. Describe 
#anything meaningful you found from this or if you found something potentially interesting. Note: You can also use data from 
#other sources for comparison. Explain why the statistics run are meaningful.

In [5]:
#VISUALIZE ATTRIBUTES (15 POINTS)
#Visualize the most interesting attributes (at least 5 attributes, your opinion on what is interesting). Important: Interpret 
#the implications for each visualization. Explain for each attribute why the chosen visualization is appropriate.

In [6]:
#EXPLORE JOINT ATTRIBUTES (15 POINTS)
#Visualize relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, 
#group-wise averages, etc. as appropriate. Explain any interesting relationships.

In [7]:
#EXPLORE ATTRIBUTES AND CLASS (10 POINTS)
#Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships 
#with variables and the target classification).

In [8]:
#NEW FEATURES (5 POINTS)
#Are there other features that could be added to the data or created from existing features? Which ones?

In [ ]:
#EXCEPTIONAL WORK (10 POINTS)
#You have free reign to provide additional analyses. One idea: implement dimensionality reduction, then visualize and interpret 
#the results.