#ASSIGNMENT 1

BUSINESS UNDERSTANDING (10 POINTS)

Describe the purpose of the data set you selected:

We used the "adult" dataset from the UCI Machine Learning Repository (https://archive.ics.uci.edu/ml/datasets/Adult).  The dataset contains 1994 Census data.  It has 48,842 records and 14 attributes. Each record represents demographic information about an individual. 

The purpose of the data set was to determine which demographic attribute had the most impact on whether or not a person's income is less than or equal to 50,000 dollars or greater than 50,000 dollars.  

A good prediction algorithm would establish a relationship or correlation between a specific attribute or group of attributes with the probability of income being <=50,000 dollars or >50,000 dollars.

DATA MEANING TYPE (10 POINTS)

Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file:

This dataset does not have attribute names in the file, but UCI lists the names on the site.  Before we describe the attributes, we will read in the dataset and add attribute names according to the source.  We will then analyze the dataset to provide attribute descriptions.

In [2]:
import pandas as pd
col_names = ['age', 'employ_type', 'pop_num', 'edu_level', 'edu_years', 'marital', 'occ', 'relation', 'race', 'gender', 'cap_gain', 'cap_loss', 'hours_week', 'country_orig', 'income']
df = pd.read_csv('adult.csv', names=col_names, header=None)
df.head()

,age,employ_type,pop_num,edu_level,edu_years,marital,occ,relation,race,gender,cap_gain,cap_loss,hours_week,country_orig,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
print df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age             32561 non-null int64
employ_type     32561 non-null object
pop_num         32561 non-null int64
edu_level       32561 non-null object
edu_years       32561 non-null int64
marital         32561 non-null object
occ             32561 non-null object
relation        32561 non-null object
race            32561 non-null object
gender          32561 non-null object
cap_gain        32561 non-null int64
cap_loss        32561 non-null int64
hours_week      32561 non-null int64
country_orig    32561 non-null object
income          32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [3]:
#DATA QUALITY (15 POINTS)
#Verify data quality: Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these 
#problems? Give justifications for your methods.

In [4]:
#SIMPLE STATISTICS (10 POINTS)
#Visualize appropriate statistics (e.g., range, mode, mean, median, variance, counts) for a subset of attributes. Describe 
#anything meaningful you found from this or if you found something potentially interesting. Note: You can also use data from 
#other sources for comparison. Explain why the statistics run are meaningful.

In [5]:
#VISUALIZE ATTRIBUTES (15 POINTS)
#Visualize the most interesting attributes (at least 5 attributes, your opinion on what is interesting). Important: Interpret 
#the implications for each visualization. Explain for each attribute why the chosen visualization is appropriate.

In [6]:
#EXPLORE JOINT ATTRIBUTES (15 POINTS)
#Visualize relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, 
#group-wise averages, etc. as appropriate. Explain any interesting relationships.

In [7]:
#EXPLORE ATTRIBUTES AND CLASS (10 POINTS)
#Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships 
#with variables and the target classification).

In [8]:
#NEW FEATURES (5 POINTS)
#Are there other features that could be added to the data or created from existing features? Which ones?

In [ ]:
#EXCEPTIONAL WORK (10 POINTS)
#You have free reign to provide additional analyses. One idea: implement dimensionality reduction, then visualize and interpret 
#the results.